<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Update</title>
    <link rel="stylesheet" href="/css/update-password.css" />
  </head>
  <body>
    <div id="wrapper">
      <form id="form">
        <input type="password" id="password" name="password" placeholder="New Password" />
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Repeat New Password"
        />
        <button id="button" type="submit">Change Password</button>
        <p id="error"></p>
      </form>
    </div>

    <p id="token" style="display: none"><%= passwordResetToken %></p>

    <script src="/js/update-password.js"></script>
  </body>
</html>
